
h1 {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    color: white;
   
}


p {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-overflow: clip;
    text-align: center;
    color: white;
    font-size: 25px;
    

}

h2 {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    color: white;

    
}

body {
    background-color:#1B1B1B;
    margin: 0%;
    padding:0%;
    
}

li {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
}

#navbar {
    list-style-type: none;
    margin: 0;
    padding-top: 20px;
    padding-bottom: 20px;
    overflow: hidden;
    background-color: rgb(0, 0, 0);
  }
   


#navtags a:hover {
    background:#FFD66B ;
}



#navtags {
    float: left;
}

#navtags a{
display: block;
  color: white;
  text-align: center;
  font-size: 20px;
  padding: 20px 60px;
  text-decoration: none;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  border-left: white solid 1px ;
    
}

#navtags {
    float: right;
}



#logo {
    background-color:black;
    float: left;
    width: 150px;
    padding-right: 10px;
    border-right: white solid 2px;
}

#logocontainer {
    background-color: black;
    width: 100%;
    display: block;
    top: 0%;
    z-index: 1;
} /*add JAVASCRIPT interactivity later, for now stay static */

#BOX {
    width: 1000px;
    margin: auto;
    

}

#founderBox {
    margin: auto;
    width: 500px;
    height: 50px;
}



#FINBUILD {
    text-align: center;
    width: 100%;
    margin: auto;
    display: block;
}


#video {
width: 100%;
margin: 0%;

    
    

}


#videoheader {
    position: fixed;
    top: 983px;
    background: #1B1B1B ;
    opacity: 0.8;
    width: 100%;
    height: 300px;

    
}

#vidtext {
    width: 300px;
    margin: 30px

}

#profile {
    margin: 30px;
    margin-bottom: 50px;
    height: 150px;
    width: 150px;
    border: 15px solid #FFD66B ;
    border-radius: 50%;
    display: inline-block;

}

#profilediv {
    margin: auto;
    display: inline-block;
}

#parentprofdiv {
    text-align: center;
    margin-top: 100px;
}


#extras {
    background-color: rgb(0, 0, 0);
    width: 100%;
    height: 500px;
    margin: 0%;
    
}

#busD {
    margin-top: 50px;
    margin-bottom: 100px;
}

#footer {
    list-style-type: none;
}

#foot {
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
}

#ff {
    padding: 30px;
    background: rgb(0, 0, 0);
}