html {
    scroll-behavior:smooth;
}

h1 {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    color: white;
   
}


p {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-overflow: clip;
    text-align: center;
    color: white;
    font-size: 25px;
    

}

h2 {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    color: white;

    
}

body {
    background-color:#1B1B1B;
    margin: 0%;
    padding:0%;
    
}

li {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
}

#navbar {
    list-style-type: none;
    margin: 0;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    overflow: hidden;
    background-color: rgb(0, 0, 0);
  }
   


#navtags a:hover {
    background:rgb(53, 53, 53) ;
}


#navtags a{
display: block;
  color: white;
  text-align: center;
  font-size: 20px;
  padding: 10px 60px;
  margin-top: 6px;
  margin-bottom: 6px;
  text-decoration: none;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  border-right: white solid 1px ;
  transition-property: background-color;
  transition-duration: 500ms;
 
}

#navtags {
    float: left;
}



#logo {
    background-color:black;
    float: left;
    width: 150px;
    padding-right: 10px;
    border-right: 5px solid white;
}

#logocontainer {
    background-color: black;
    width: 100%;
    display: block;
    top: 0%;
    z-index: 1;
} /*add JAVASCRIPT interactivity later, for now stay static */

#BOX {
    width: 1000px;
    margin: auto;
    

}

#founderBox {
    margin: auto;
    width: 500px;
    height: 50px;
}



#vid {
    position: fixed;
    text-align: center;
    width: 100%;
    margin: auto;
    display: block;
}


#video {
width: 100%;
margin: 0%; 
position:relative;
}



#videoheader {
    position: absolute;
    top: 80%;
    background: #1B1B1B ;
    width: 100%;


    
}




#vidtext {
    display: block;
    width: 150px;
    margin: auto;

}

#canvas {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 300px;
    background: rgb(0, 0, 0, 0.7);
    z-index: 1;
    box-sizing: border-box;
    padding: 50px;

    

}

#pclass {
    margin-left: 200px;
    margin-right: 200px;
    font-size: 20px;

}

#profile {
    margin: 30px;
    height: 150px;
    width: 150px;
    border: 15px solid #ffffff ;
    border-radius: 50%;
    display: inline-block;

}

#profilediv {
    margin: auto;
    display: inline-block;
}

#parentprofdiv {
    text-align: center;
}


#extras {
    background-color: rgb(0, 0, 0);
    width: 100%;
    height: 500px;
    padding: 50px;
    box-sizing: border-box;
    display: inline-block;
    
    
}

#busD {
    margin-top: 50px;
}

#foundercontainer {
    padding: 40px;


}

#arrowlink:hover {
    opacity: 1;
    animation: arrow-anim;
    animation-duration: 500ms;
    animation-fill-mode: forwards;

}

#arrowlink {
    margin: auto;
    margin-top: 50px;
    margin: bottom 50px; ;
    width: 20px;
    display: block;
    opacity: 0.5;
    transition-property: opacity;
    transition-duration: 1s;
   
}

@keyframes arrow-anim {
    0% {
        transform: translate(0px, 0px);
    }
    100% {
        transform: translate(0px, 10px);
    }
}


#arrow {
    width: 50px;
 
    display: inline;
 

}





#footer {
    list-style-type: none;
}

#foot {
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
}

#ff {
    padding: 30px;
    background: rgb(0, 0, 0);
}

#portfolio {
    width: 100%;
    height: 500px;
}

#contactme {

    background-color: rgb(0, 0, 0);
    padding: 40px;
}

#circ {
    display:block;
    width: 15px;
    opacity: 0.5;
    margin: auto;
    

}

#circ:hover {
    opacity: 1;
}

#genbut {
    width: 20px;
    display: inline;
    
}

#circ:hover {
    animation-name:sphere;
    animation-duration: 500ms;
    animation-fill-mode:forwards;
}



@keyframes sphere {
    0% {
        transform: translate(0px,0px);
    }
    100% {
        transform: translate(0px,-10px);
    }

}

#ulcontact {
    display:block;
    padding: 0%;
    margin: auto;
    text-align: center;
    list-style-type:none;

}

#ulcontact li {
    font-size: 30px;
    padding: 20px;
}

#txtcontainer {
    margin-bottom: 50px;
}

#blocker {
    display: block;
    width: 100%;
    height: 20px;
}
